body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
}

img {
    max-width: 80%;
    display: block;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.file-input-wrapper {
    position: relative;
    width: auto;
}

input[type="file"] {
    display: none;  /* Hide the default file input */
}

.file-input-wrapper label {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    font-size: medium;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-input-wrapper label:hover {
    background-color: #0056b3;
}

input[type="submit"] {
    margin: 0.5rem 0;
    padding: 1.0rem 1.0rem;
    font-size: medium;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.result {
    background-color: #e8e8e8;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem auto;
    text-align: center;
}

.result .headline {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #007BFF;
}

p {
    margin: 0;
}

@media (min-width: 768px) {
    body {
        padding: 4rem 0;
    }
}

/* Spinner CSS */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none;  /* Initially it will be hidden */
    margin: 1rem auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
