<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wound Classification</title>
</head>
<body>
    <!-- Displaying the result -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p>{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}

    <!-- Display captured image -->
    {% if uploaded_image %}
    <img src="{{ url_for('uploaded_file', filename=uploaded_image) }}" alt="Captured Image" width="300">
    {% endif %}

    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="wound_image" accept="image/*" capture="camera">
        <input type="submit" value="Upload & Classify">
    </form>
</body>
</html>

