<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wund Bestimmung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <!-- Displaying the result -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="result">
                    <p class="headline">Wundklasse:</p>
                    <p>{{ messages[0] }}</p>
                </div>
            {% endif %}
        {% endwith %}

        <!-- Placeholder for chosen/captured image -->
        <div class="image-container">
            <img id="preview-image" src="#" alt="Chosen Image" style="display: none;">
        </div>

        <!-- Spinner -->
        <div class="spinner" id="loadingSpinner"></div>

        <form action="/" method="post" enctype="multipart/form-data">
            <div class="file-input-wrapper">
                <input type="file" name="wound_image" id="wound_image" accept="image/*" capture="camera">
                <label for="wound_image">1. Wund-Foto machen</label>
            </div>
            <input type="submit" value="2. Wundklasse ermitteln" style="display: none;">
        </form>
    </div>

    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function() {
            if (this.files && this.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    const previewImage = document.getElementById('preview-image');
                    previewImage.src = e.target.result;
                    previewImage.style.display = 'block';
                }

                reader.readAsDataURL(this.files[0]);

                document.querySelector('input[type="submit"]').style.display = 'block';
            }
        });

        document.querySelector('form').addEventListener('submit', function() {
            document.getElementById('loadingSpinner').style.display = 'block';
        });
    </script>

</body>
</html>
