<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wound Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <!-- Displaying the result -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="result">
                    <p class="headline">Wundklasse:</p>
                    <p>{{ messages[0] }}</p>
                </div>
            {% endif %}
        {% endwith %}

        <!-- Display captured image -->
        {% if uploaded_image %}
        <div class="image-container">
            <img src="{{ url_for('uploaded_file', filename=uploaded_image) }}" alt="Captured Image">
        </div>
        {% endif %}

        <form action="/" method="post" enctype="multipart/form-data">
            <div class="file-input-wrapper">
                <input type="file" name="wound_image" id="wound_image" accept="image/*" capture="camera">
                <label for="wound_image">Wund-Foto machen</label>
            </div>
            <input type="submit" value="Wundklasse ermitteln" style="display: none;">
        </form>
    </div>

    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function() {
            if (this.files && this.files[0]) {
                document.querySelector('input[type="submit"]').style.display = 'block';
            }
        });
    </script>

</body>
</html>
